<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center"></h3>
        <div class="well">
         
          <% if params[:plan] == '2' %>
            <h1 class="text-center">Sign Up For a Pro Membership!</h2>
            <h6 class="text-center">Get access to the community and contact information for $10/month!</h6>
            <%= render "pro_form" %>
          <% else %>
              <h1 class="text-center">Sign Up For a Basic Membership.</h2>
              <h6 class="text-center">Get basic access to the community for free.</h6>
              <%= render "basic_form" %>
            <% end %>
          
         <%= render "devise/shared/links" %>
        
        </div>
      </div>
    </div>
  </div>
</div>
