.avatar-show-img {
  height: 128px;
  width: 128px;
}
.well.profile-block {
  color: white;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #033D08;
  border-color: #4cae4c;
}

.well.contact-info {
  background-color: #0D0CE8;
  border-color: #46b8da;
}